/* Reset and box-sizing */
* {
    box-sizing: border-box;
    margin: 0;
}

/* Body and font styles */
body {
    font-family: 'Kanit', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

/* Navbar styles */

.navbar-brand {
    font-weight: bold;
}

.navbar-toggler-icon {
    color: white;
}

/* Dropdown menu customization */
.navbar-nav .dropdown-menu {
    background-color: #ffffff;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.navbar-nav .dropdown-item {
    color: #333333;
}

.navbar-nav .dropdown-item:hover {
    background-color: #f8f9fa;
    color: #007bff;
}

.navbar-nav .nav-item.dropdown .dropdown-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.navbar-nav .nav-item .dropdown-toggle::after {
    display: none;
}

/* Advisor Section Styles */
#club-advisor {
    background-color: #fff;
    padding: 60px 0;
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
}

#club-advisor img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#club-advisor h3 {
    color: #007bff;
    margin-top: 20px;
    font-size: 2rem; /* Increased font size for advisor name */
}

#club-advisor p {
    font-size: 1.1rem;
    margin-bottom: 0; /* Ensure no margin below the description */
}

/* Committee Members Section Styles */
#committee-members {
    padding: 60px 0;
}

.card {
    border: none;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Added box-shadow to cards */
}

.card:hover {
    transform: translateY(-10px);
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    max-width: 100%;
    height: auto;
    object-fit: cover; /* Ensure images cover entire space */
}

.card-body {
    text-align: center;
}

.card-title {
    color: #007bff;
    margin-top: 15px;
    font-size: 1.2rem; /* Increased font size for card title */
}

.card-text {
    font-size: 0.9rem;
}
@media (max-width: 999.98px) {
    /* One member per row below 320px */
    #other-members .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 999.98px) {
    /* Two members per row between 320px and 999.98px */
    #other-members .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1000px) {
    /* Four members per row above 1000px */
    #other-members .col {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
